<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="body-loaded">
        <div class="container">
            <div class="col-md-12">
                <h2 id="ola">Medicamentos Existentes</h2>
            </div>
            <hr>
    
            <div id="list" class="row">
     
                <div class="table-responsive col-md-12">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Local</th>
                                <th>Via</th>
                                <th>Dono</th>
                        </thead>
                        <tbody>
                            <% retorno.listaRemedios.forEach(function(remedio) { %>
                                    <tr>
                                        <td><%= remedio.id %></td>
                                        <td><%= remedio.nome %></td>
                                        <td><%= remedio.localAcao %></td>
                                        <td><%= remedio.viaAdministracao %></td>
                                        <td><%= remedio.dono.nome %></td>
                                    </tr>
                            <% }); %>
                        </tbody>
                    </table>
                
                    <% retorno.blockchain.blocks.forEach(function(block) { %>
                        <tr>
                            <td><%= block.index %></td>
                            <td><%= block.previousHash %></td>
                            <td><%= block.data %></td>
                            <td><%= block.timestamp %></td>
                        </tr>
                    <% }); %>

                </div>
            </div>

            <p id="dataReturned" style="display: none;">
                <%= retorno.toString %>
            </p>
    
            <a href="/"><button type="button" class=" btn btn-secundary" >Voltar</button></a>
        </div>

        <script>
            console.log("retorno");
            var retorno = $("#dataReturned").text();
            console.log(retorno);
        </script>
        <% include ../partials/p2pAction.ejs %>
    </body>
</html>